RewriteEngine On
RewriteCond %{REQUEST_METHOD} ^DELETE$
RewriteRule ^([0-9]+)$ delete.php?id=$1
RewriteCond %{REQUEST_METHOD} ^POST$
RewriteRule ^$ post.php
RewriteCond %{REQUEST_METHOD} ^PUT$
RewriteRule ^([0-9]+)$ update.php?id=$1
